.friend-container {
    text-align: center;
}

.friend-card {
    font-size: calc(1vw + 0vh + 1vmin);
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1% 2%;
    margin: 1%;
    background-color: #aaaaaa;
    width: 10%;
    margin-block-end: 2%;
}

.imageStyle {
    max-width: 50%;
    height: auto;
}