.friend-container {
    text-align: center;
    display: block;
    margin: auto;
}

.friend-card {
    font-size: calc(1vw + 0vh + 1vmin);
    margin-block-start: 4%;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1% 2%;
    margin: auto;
    background-color: #aaaaaa;
    width: 10%;
   }

.imageStyle {
    max-width: 50%;
    height: auto;
}

.suggestion__container, .friends__container {
    display: -webkit-box;
    justify-content: center;
    margin: auto;
}