.btn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #aaaaaa;
}

.btn:hover {
    background-color: #888888;
}

.img {
    height: auto;
    width: 80%;
    top: 10%;
    right: 0;
    bottom: -91px;
    display: -webkit-box;
    margin: auto;
    max-width: 95%;
    max-height: 95%;
    border: 5px solid #333;
    margin-block-start: 4%;
    margin-block-end: 4%;
}

.sb-img {
    color: white;
}

.res {
    font-size: 33px;
    color: white;
    text-align: center;
    margin-block-start: 10px;
    margin-block-end: 20px;}

.tag-title {
    font-size: 33px;
    color: white;
    text-align: left;
    margin-inline-start: 7px;
    margin-block-start: 10px;
    margin-block-end: 20px;
}

.link {
    color: white;
    text-align: center;
    margin-inline-start: 7px;
}

.properties {
    margin-inline-start: 20px;
    text-align: left;
    font-size: small;
}

.main-container {
    display: flex;
    margin-block-start: 2%;
    border: 10px solid #333;
    border-radius: 7px;
}

.main-container {
    display: flex;
    margin-block-start: 2%;
    border: 10px solid #333;
    border-radius: 7px;
}
